/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.App {
  min-width:1100px;

}

.bcba {
  font-family: good-times,sans-serif;
font-weight: 900;
font-style: normal;
color:pink;
}

.App-header {
  /* min-height: 100vh; */
  
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  
  font-size: 1.5rem;
  color: white;
  /* margin:0.5em 0.5em; */
  border-radius:1.5em;
  background-color:#0c2757;
  /* border:1px solid white; */
  padding:0;
  box-shadow:0px 0px 0.33em rgba(200,200,200,0.5);
}

.address {
  font-family: best-choice,mono;
font-weight: 500;
font-style: normal;
text-overflow: ellipsis;
max-width:12em;
overflow:hidden;
}

.App-link {
  color: #61dafb;
}

/* .App-header h1 {
  padding: 0 1rem 0 1rem;
  background: linear-gradient(0deg, #0b2f7c, #00afff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
} */

.App main .logo {
  background-image:url('../public/bcba-logo.png');
  float:left;
  clear:right;
  background-size:cover;
  background-repeat: no-repeat;
  width:640px;
  height:223px;
  margin:16px auto 0 auto;
  margin-bottom:64px;
}

.App nav {
  margin-top:16px;
  float:left;
  width:30%;
  margin-right:1em;
  
}

.App nav a {
  display: block;
  text-decoration: none;
  height:auto;
}

.App ul.external-links {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;

}

.App ul.external-links li {
  display: block;
}


.App ul.external-links li a {
  display: block;
  text-decoration:none;

}

.button, button {
  background-color:red;
  border-radius:1.5em;
  padding:0.5em;
  display:block;
  color:white;
  font-family: co-text, sans-serif;
font-weight: 700;
font-style: normal;
}

.App nav a.button {
  margin:1rem;
  text-align: center;
}

.App-header .address {
  font-size: 1em;
  margin:0.5em;
  text-decoration: none;
  color: #00afff;

}

.App-header button {
  margin:0.5em 2em;
  height:auto;
}

a.icon {
  background-size: cover;
  background-repeat: no-repeat;
  min-height:1em;
  min-width:1em;
  margin-right:1em;
  width:auto;
}

a.icon.twitter.jb, a.icon.twitter.jj {
  background-image: url('./icons/icon-twitter-jb.png'); 
}

a.icon.replit {
  background-image: url('./icons/icon-replit.png'); 
}

a.icon.github {
  background-image: url('./icons/icon-github.png'); 
}

a.icon.opensea {
  background-image: url('./icons/icon-opensea.png'); 
}


main {
  padding: 1em 2em;
  float:left;
  clear:both;
}

main .container {
  float:left;
  clear:both;
  width:100%;
}

.items-container {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.character-image, .accessory-image {
  background-repeat: no-repeat;
  background-size: cover;
  width:200px;
  height:200px;
}

.App .image {
  /* padding:4px; */
  border-radius:16px;
  background-color:rgb(74, 143, 199);
}

.App .image:hover {
  cursor: pointer;
  /* border:4px dotted red; */
  border-radius:16px;
  padding:0px;
  box-shadow: 0px 0px 18px rgba(255,255,255,0.75);
}


#character1 {
  background-image:url('./game/sprites/character_idea_1_bg.png');
}


#character2 {
  background-image:url('./game/sprites/character_idea_2_bg.png');
}


#character3 {
  background-image:url('./game/sprites/character_idea_3_bg.png');
}



#eyelenser {
  background-image:url('./game/sprites/eye_lenser.png');
}


#hat {
  background-image:url('./game/sprites/hat.png');
}


#cigarette {
  background-image:url('./game/sprites/cigarette.png');
}

.premint.container h2{
margin-top:2em;
}

.aftermint.container {
  display: none;
}


.aftermint.container.minting {
  display: block;
}