:root {
  --color-red-deep: #640808;
  --color-red-medium: #bb121d;
  --color-red-pink: #fb2940;
  --color-highlight: #ebebeb;
  --color-highlight-alpha: rgba(247, 244, 243, 0.94);
  --color-tan: #ded3ce;
  --color-blue-light: #29c1fb;
  --color-blue-light-alpha: rgba(41, 193, 251, 0.7);
  --box-shadow-light-blue: 0px 0px 8px var(--color-blue-light-alpha);
  --color-blue-medium: #1f94d3;
  --color-blue-dark: #084064;
  --color-gray-dark: #292929;
  --color-blue-dark-alpha: rgba(8, 40, 64, 0.9);
  --color-gray-dark-alpha: rgba(29, 29, 29, 0.85);
  --gradient-blue: -webkit-linear-gradient(
    -45deg,
    var(--color-blue-dark) 5%,
    var(--color-highlight) 10%,
    var(--color-blue-dark) 15%,
    var(--color-highlight) 20%,
    var(--color-blue-dark) 25%,
    var(--color-highlight) 30%,
    var(--color-blue-dark) 35%,
    var(--color-highlight) 40%,
    var(--color-blue-dark) 45%,
    var(--color-highlight) 50%,
    var(--color-blue-dark) 55%,
    var(--color-highlight) 60%,
    var(--color-blue-dark) 65%,
    var(--color-highlight) 70%,
    var(--color-blue-dark) 75%,
    var(--color-highlight) 80%,
    var(--color-blue-dark) 85%,
    var(--color-highlight) 90%,
    var(--color-blue-dark) 95%,
    var(--color-highlight) 100%
  );
}

.App {
  height: 100vh;
  background-color: var(--color-gray-dark);
  background-image: url("./home-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center left;
  text-align: center;
  overflow: auto;
  font-size: 16px;
  font-family: co-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}

.bcba {
  font-family: good-times, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--color-highlight);
}

.container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 12px 0 12px;
  color: var(--color-highlight);
  position: relative;
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.main-container {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}

.main-container .section.traits {
  flex-flow: column wrap;
}

.main-container .section {
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  flex: min-content;
  padding: 1em;
  position: relative;
  border-radius: 8px;
  margin: 24px 28px 24px 28px;
  background-color: var(--color-gray-dark-alpha);
  box-shadow: var(--box-shadow-light-blue);
}

.main-container .section.home,
.main-container .section.collection,
.main-container .section.traits {
  flex-flow: column;
  justify-content: flex-start;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: var(--color-blue-medium) var(--color-blue-dark-alpha);
  scrollbar-width: thin;
}

.section.not-connected {
  flex-grow: 0;
}

.main-container .section p {
  line-height: 1.6em;
  margin: 0;
  margin-bottom: 0.5em;
}

.main-container .section p {
  font-size: 1.3em;
}

/* .main-container h1 {
  font-size: 2em;
  font-family: good-times, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--color-red-pink);
  text-shadow: 1px 1px 4px var(--color-red-deep);
  display: inline-block;
  border-bottom: 2px dotted var(--color-blue-medium);
  width: 100%;
  margin-bottom: 0.5em;
  margin-top: 0;
} */

.main-container h3,
.main-container h4 {
  font-size: 1.25em;
  font-family: good-times, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--color-red-pink);
  text-shadow: 1px 1px 4px var(--color-red-deep);
  display: inline-block;
  border-bottom: 1px dotted var(--color-blue-medium);
  width: 100%;
  margin-bottom: 0.25em;
  margin-top: 0;
}

h4.action-heading {
  margin-top: -0.5em;
  font-size: 1em;
}

.action-container span.action-message {
  margin: 0.25em 0em 0.5em 0em;
}

.action-container .hidden {
  display: none;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header.logo {
  background-image: url("./bcba-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 70%;
  height: 50%;
  margin: 10px auto;
  justify-content: center;
}

.subheader {
  color: var(--color-red-deep);
  font-size: 0.56em;
  display: block;
  margin-top: -20px;
  text-shadow: 0px 0px 4px var(--color-blue-light);
}

.holidaze {
  font-variant: normal;
  font-family: arpona, serif;
  font-weight: 900;
  font-style: normal;
  color: var(--color-red-deep);
}

.section.home .holidaze {
  color: var(--color-blue-dark);
  font-weight: 500;
  font-size: 1.05em;
}

.loading-indicator {
  background: var(--gradient-blue);
  background-size: 111% 111%;
  width: 100%;
  padding-top: 0.25em;
  height: 1.75em;
  animation: gradient-animation 2.5s linear infinite;
  border-radius: 8px;
  border: 1px solid var(--color-blue-medium);

  color: var(--color-red-pink);
  text-shadow: 1px 1px 3px var(--color-red-deep);
}

.loading-indicator .label {
  display: inline-block;
  font-family: co-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  width: 100%;
  text-align: center;
  margin-top: 0.15em;
}

.section p {
  margin-bottom: 2.25em;
}

button {
  font-family: co-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-highlight);
}

button:hover {
  color: var(--color-red-pink); /* 199e45 aa3333 */
}

.App .main-container .action-container {
  flex-grow: revert;
}

.action-button {
  line-height: 1em;
  height: 45px;
  border: 0;
  width: 100%;
  max-width: 70%;
  align-self: center;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: var(--color-highlight);
  background-color: var(--color-red-deep);
  box-shadow: none;
  animation: pulsating-animation 2.5s ease-in-out infinite;
}
/*
.action-button {
  margin-left: 10px;
} */

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
  background-color: none;
}

.twitter-logo {
  width: 35px;
  height: 35px;
  align-self: center;
  display: block;
}

.twitter-text {
  font-size: 16px;
  font-weight: bold;
  color: #eee;
  text-decoration: none;
}

a {
  color: var(--color-blue-light);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  text-shadow: 1px 1px 4px rgba(34, 34, 34, 0.8);
}

/* a:hover {
  color: #fff;
  text-shadow: 0px 0px 4px rgba(95, 222, 245, 0.8);
} */

.section p a {
  color: var(--color-blue-medium);
  text-decoration: underline;
  text-shadow: none;
  transition: all 0.25s linear;
}

.section p a:hover {
  color: var(--color-blue-light);
}

.connected-container input[type="text"] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

@-webkit-keyframes pulsating-animation {
  0% {
    background-color: var(--color-red-deep);
    box-shadow: none;
  }
  50% {
    background-color: var(--color-red-medium);
    box-shadow: 0px 0px 18px var(--color-blue-light-alpha);
    color: var(--color-highlight);
  }
  100% {
    background-color: var(--color-red-deep);
    box-shadow: none;
  }
}
@-moz-keyframes pulsating-animation {
  0% {
    background-color: var(--color-red-deep);
    box-shadow: none;
  }
  50% {
    background-color: var(--color-red-medium);
    box-shadow: 0px 0px 18px var(--color-blue-light-alpha);
    color: var(--color-highlight);
  }
  100% {
    background-color: var(--color-red-deep);
    box-shadow: none;
  }
}
@keyframes pulsating-animation {
  0% {
    background-color: var(--color-red-deep);
    box-shadow: none;
  }
  50% {
    background-color: var(--color-red-medium);
    box-shadow: 0px 0px 18px var(--color-blue-light-alpha);
    color: var(--color-highlight);
  }
  100% {
    background-color: var(--color-red-deep);
    box-shadow: none;
  }
}

@-webkit-keyframes shake-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-moz-keyframes shake-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shake-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.header-bottom .mech-suit {
  position: absolute;

  width: 100%;
  height: 100%;
  z-index: 10;
}

.header-bottom .mech-suit-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("./mech-fighter-red-large.png");
  background-size: contain, contain;
  background-position: bottom center, bottom center;
  background-repeat: no-repeat; /*size 60%, position: center calc(100% - 90px) */
  z-index: 10;
}

.header-bottom .nft-character-display {
  display: block;
  position: absolute;
  background-image: url("./sample-character-nft.png");
  background-size: contain, contain;
  background-position: bottom center, bottom center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 1;
  /* bottom:2%; */
}

.nft-character-display[src="/static.gif"] {
  opacity: 0.3;
}

.header-bottom {
  margin: 0 0 16px 0;
  flex: fit-content;
  display: flex;
  justify-content: center;
  rotate: 0deg;
  transform-origin: bottom;
  animation-duration: 0.5s;
  position: relative;
  width: 100%;
  height: 70%;
  min-height: 500px;
  transform: rotate(0deg);
}

.header-bottom .label,
.header-bottom .sublabel {
  z-index: 100;
  color: rgba(126, 107, 66, 0.7);
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.8);
  display: inline-block;
  font-family: arpona, serif;
  font-style: normal;
  padding: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  opacity: 0.45;
}

.header-bottom:hover {
  animation: shake-animation 0.5s linear 2;
}

@media screen and (max-width: 799px) {
  .App {
    min-width: none;
  }
  .container {
    flex-direction: column;
  }
  .header {
    font-size: 4em;
  }
  .header-container {
    width: 100%;
  }

  .main-container .section {
    padding: 0.5em;
    margin: 12px 8px;
    overflow-y: unset;
    display: flex;
  }

  .main-container {
    width: 100%;
  }

  .header-bottom .nft-display {
    height: 50vh;
  }
}

@media screen and (min-width: 800px) {
  .App {
    min-width: 1000px;
  }
  .container {
    flex-direction: row;
  }

  .header-container {
    width: 40%;
  }
  .main-container {
    width: 60%;
  }
}

.main-container .section.visible {
  display: flex;
}

.main-container .section.hidden {
  display: none;
}

.main-container .section.mint-container {
  flex-grow: 0;
}

.aftermint.container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.character.minted {
  height: 600px;
  width: 600px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 16px;
  margin-bottom: 1em;
}

.accessory.minted {
  height: 297px;
  width: 346px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.accessory.minted.accessory4 {
  left: 260px;
  top: 165px;
}

.accessory.minted.accessory5 {
  left: 100px;
  top: 75px;
}

.accessory.minted.accessory6 {
  left: 160px;
  top: -50px;
}

.nft-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.character-image,
.accessory-image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.accessory-image {
  background-color: var(--color-highlight-alpha);
}

.accessory-image.chosen {
  background-color: var(--color-red-pink);
}

#mech-fighter-red {
  background-image: url("./game/sprites/mech_fighter_red.png");
}

#mech-fighter-blue {
  background-image: url("./game/sprites/mech_fighter_blue.png");
}

#biggun {
  background-image: url("./game/sprites/icon_gun_big.png");
  background-size: contain;
}

#smallgun {
  background-image: url("./game/sprites/icon_gun_small.png");
  background-size: contain;
}

.App .character-image:hover,
.App .accessory-image:hover {
  cursor: pointer;
  border-radius: 16px;
  padding: 0px;
  box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.75);
}

.nft-item {
  cursor: pointer;

  border-radius: 16px;
  border: 1px solid var(--color-tan);
  margin: 1em 0em 0.5em 1.5em;
}

.App .nft-item.chosen {
  box-shadow: 0px 0px 18px var(--color-red-pink);
}

.App .nft-item.chosen:hover {
  box-shadow: 0px 0px 22px var(--color-red-pink);
}

.nft-item img {
  width: auto;
  height: 200px;
  object-fit: cover;
}

#character1 {
  background-image: url("./game/sprites/character_idea_1_bg.png");
}

#character2 {
  background-image: url("./game/sprites/character_idea_2_bg.png");
}

#character3 {
  background-image: url("./game/sprites/character_idea_3_bg.png");
}

#eyelenser {
  background-image: url("./game/sprites/eye_lenser.png");
}

#hat {
  background-image: url("./game/sprites/hat.png");
  background-size: contain;
}

#cigarette {
  background-image: url("./game/sprites/cigarette.png");
}

@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
