body {
  margin: 0;
  color:white;
  background-color:#060708;
  font-family: co-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border:none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5 {
  font-family: good-times,sans-serif;
font-weight: 900;
font-style: normal;
}

h1 .weathered {
  font-family: good-times-bad-times,sans-serif;
font-weight: 900;
font-style: normal;
}